* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 40s ease;
}

body{
    font-family: sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto ;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background-color: transparent;
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover .btn {
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
}


/* navbar */
nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    /* position: fixed; */
    top: 0;
    z-index: 11;
}

/* temporal hambuger */
.openBar{
    background-color: red;
    width: 30px;
    height: 20px; 
    position: absolute;
    right: 2.56rem;
}

.closeBar{
    background-color: yellow;
    width: 30px;
    height: 20px;
}

/* change navbar styles on scroll using JavaScript */
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 4s ease;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_container > * {
    margin: 12px;
}

.menu_container > a > h4 {
    font-size: 2em;
}

.menu_container > a, .nav_menu li, .nav_options li  {
    text-transform: capitalize;
}

nav button {
    display: none;
}

.nav_menu, .nav_options {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav_menu:hover a {
    color: var(--color-bg2 );
}

.nav_options li:nth-child(3){
    background-color: var(--color-bg1);
    padding: 6px;
    border-radius: 6px;
    
}

/* header */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: calc(100vh - 5rem);
    margin-bottom: 5rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left{
    top: 50%;
    transform: translate(10%,1%);
    transform: scale(0.7);
}

.header_left h1{
    font-size: 3.5em;
    text-transform: capitalize;
    color: var(--color-primary);
}


.header_left h2{
    font-size: 3em;
    width: 70%;
}

.header_left p {
    margin: 1rem 0 2.4rem;
}

.header_left a {
    border: 3px solid var(--color-bg1);
    border-radius: 6px;
    color: var(--color-white);
    font-size: 1.1em;
    /* background-color: var(--color-white); */
}

.header_left a::first-letter {
    text-transform: capitalize;
}

.header_left .get-started {
    background-color: var(--color-bg1);
    color: var(--color-white);
    border: none;
}

/* engaging  */
.engaging{
    background: var(--color-bg1);
    position: relative;
    height: 25rem;
}

.engaging_container{
    position: absolute;
    height: inherit;
    width: inherit;
    
}


.quick_learn{
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: inherit;    
}

.engaging_header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.engaging_header h3 {
    text-transform: capitalize;
    font-size: 2.1em;
    text-align: center;
}

.container_left{
    margin-left: 4rem;
}

.engaging_left p {
    margin: 1rem 0 3rem;
}

.engaging_right{
    width: inherit;
}

.category{
    width: 75%;
    position: relative;
    top: 10%;
    left: 20%;
    /* transform: translate(-15%, 30%); */
}

.category h5{
    font-size: 2em;
    text-transform: capitalize;
}

.category p {
    font-size: 1rem;
}

.engaging_footer{    
    width: 100%;
    position: absolute;
    bottom: -24%;
    padding: 12px;
}

.engaging_footer h4{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;    
}

.engaging_footer form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.engaging_footer form > div input{
    width: 16px;
    height: 16px;
    margin-top: 22px;
}

.engaging_footer form > div label{
    font-size: 1.3rem;
    text-transform: capitalize;
}

/* transform */
.transform {
    margin-top: 10rem;
}

.transform_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.tranform_header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.tranform_header > * {
    text-align: left;
    margin: 0;
}

.tranform_header h2,h3 {
    width: 100%;
    text-transform: capitalize;
}

/* database and learn anytime */

.database, .learn_anytime{
    margin-top: -6rem;
}

.database_container, .learn_anytime_container{
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}

.database_content, .learn_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.database_header > *, .learn_header > *{
    margin: 0;
    text-align: left;
}

.database_header h2 {
    text-transform: capitalize;
    font-size: 2em;
}

/* learn anytime */
.learn_header{
    padding: 12px;
}

.learn_header h2{
    font-size: 2.5em;
    text-transform: capitalize;
}

/* footer */
footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.5rem;
}

.footer_container {
    display: grid;
    grid-template-columns: auto;
    gap: 5rem;
}

.contact_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_header{
    margin-top: -3rem;
    text-align: center;
}

.contact_header > * {
    margin: 12px;
}

.contact_header h3{
    font-size: 2.3rem;
}

.contact_header p{
    font-size: 1rem;
}

.group_one label, .email_group label, .msg_group label, .group_form > div input, .group_form > .group_one label::first-letter, .contact_header p::first-letter, .footer_form > form > .btn_group input{
    text-transform: capitalize;
}

.group_one input{
    width: 100%;
}

.group_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group_form .group_one{
    width: 45%;

}

.group_one input, label{
    display: block;
}

.group_one label, .email_group label, .msg_group label{
    font-size: 1rem;
}

.email_group input, .group_one input, .btn_group input{
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.msg_group textarea{
    border-radius: 4px;
    padding: 8px;
}

.footer_form, .footer_form > form > .email_group input, .footer_form > form > .msg_group textarea, .footer_form > form > .btn_group input{
    width: 100%;
}

[placeholder="send us a message"]{
    text-transform: capitalize;
    border: none;
}

[type="submit"]{
    font-size: 2em;
    color: var(--color-white);
    background-color: var(--color-bg2);
}

.permalinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.permalinks li {
    text-align: left;
    padding: 6px;
}

.footer_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.footer_1, .footer_2, .footer_copyright{
    position: absolute;
    bottom: 0;
    width: 33.33%;
}

.footer_copyright{
    right: 0;
}

.footer_2{
    right: 33.33%;
}

.footer_1{
    text-transform: capitalize;
    margin-bottom: 12px;
}

.footer_1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

.footer ul li a:hover{
    text-decoration: underline;
}

.footer_socials {
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer_copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem;
    border-top: 1px solid var(--color-bg2);
}


/* media queries */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }

    /* navbar */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav_menu {
        /* position: fixed; */
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav_menu li {
        width: 100%;
        height: 5.5rem;
    }

    .nav_menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav_menu li a:hover{
        background: var(--color-bg2);
        color: var(--color-white);
    }

    /* header */

    header{
        height: 72vh;
        margin-bottom: 5rem;
    }

    .header_container {
        gap: 0;
        padding-bottom: 3rem;
    }

    /* category */
    .categories{
        height: auto;
    }

    .categories_container{
        grid-template-columns: 1fr;
    }

    .categories_left{
        margin-right: 0;
    }

    /* popular courses */
    .course{
        margin-top: 0;
    }

    .courses_container{
        grid-template-columns: 1fr;
    }

    /* faqs */
    .faqs_container{
        grid-template-columns: 1fr;
    }

    .faq{
        padding: 1.5rem;
    }

    .footer_container{
        grid-template-columns: 1fr 1fr;
    }

}
